body {
    font-family: Monstterat, sans-serif;
}

h1 {
    text-transform: uppercase;
    /* text-decoration-line: line-through;  
    text-decoration-color: magenta;
    text-decoration-style: wavy;
    text-decoration-thickness: 5px; */
    /* we can do that all thoes in oone line by following syntax  */
    text-decoration: magenta line-through wavy 5px;
}

#list {
    list-style-type: lower-latin;
    list-style-position: inherit;
    list-style-image: -o-repeating-linear-gradient();
}

/* links styling */
a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: magenta;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}